<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>


<!-- <div class="custom-margin">
  <div class="dashboard-heading">
      <h2 class="page-heading">Bidding Asset</h2>
  </div>
  <div class="">
      <div class="row">
          <div class="col-md-12 col-lg-6 respon-box">
              <div class="row">
                  <div class="col-md-8 card card-box">
                      <div>
                          <button class="btn blue-btn-box" data-toggle="modal" data-target="#myModal" >
              Reserve
            </button>
                          
                      </div>
                      <div class="monthly-text mt-2">
                          <span class="asset-type">Asset Model:</span> <span class="asset-type-value">{{assetObj.name}} </span> <br>
                          <span class="asset-type">Asset Type: </span>  <span class="asset-type-value">{{assetObj.type}} </span>
                      </div>
                      
                      <div class="collapse" id="featured">
                          <div class="featured-box">
                              <ul>
                                  <li>
                                      <div class="label-feature">Ownership</div>
                                      <div class="value-feature">{{assetObj.owner}}</div>
                                  </li>
                                  <li>
                                      <div class="label-feature">Owner Address</div>
                                      <div class="value-feature">{{assetObj.owner_address}}</div>
                                  </li>
                                  <li>
                                      <div class="label-feature">Owner Id</div>
                                      <div class="value-feature">{{assetObj.owner_id}}</div>
                                  </li>
                                  <li>
                                      <div class="label-feature">Beds</div>
                                      <div class="value-feature">1</div>
                                  </li>
                                  <li>
                                      <div class="label-feature">Property Location</div>
                                      <div class="value-feature">Hundu Beach ,</div>
                                  </li>
                                  <li>
                                      <div class="label-feature">Pre-Reserve</div>
                                      <div class="value-feature">$100 Per Night</div>
                                  </li>
                                  <li>
                                      <div class="label-feature">Image</div>
                                      <div class="value-feature"><img src="../assets/img/imgasset.jpeg" alt="Girl in a jacket" width="300" height="300"></div>
                                  </li>
                                 
                              </ul>
                             
                          </div>
                      </div>
                      <div>
                          <div class="rh_list_card__meta">
                              <span class="rh_meta_titles"> Area </span>
                              <div>
                                  <svg class="rh_svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                  <g>
                    <circle cx="2" cy="2" r="2"></circle>
                  </g>
                  <g>
                    <circle cx="2" cy="22" r="2"></circle>
                  </g>
                  <g>
                    <circle cx="22" cy="2" r="2"></circle>
                  </g>
                  <rect x="1" y="1" width="2" height="22"></rect>
                  <rect x="1" y="1" width="22" height="2"></rect>
                  <path opacity="0.5" d="M23,20.277V1h-2v19.277C20.7,20.452,20.452,20.7,20.277,21H1v2h19.277c0.347,0.596,0.984,1,1.723,1
c1.104,0,2-0.896,2-2C24,21.262,23.596,20.624,23,20.277z"></path>
                </svg>
                                  <span class="figure"> {{assetObj.area}}  </span>
                                  <span class="label"> Sq. Ft </span>
                              </div>
                              <div class="float-right price-text">
                                {{assetObj.price}}  Price
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

         
      </div>
  </div>

</div>
 -->
