<div class="custom-margin">
  <div class="dashboard-heading">
    <h2 class="page-heading text-center mb-4">Support</h2>
  </div>
  <div class="card mt-2 support-card text-center">
    <h4>Need Help?</h4>
    <h6>We are here for you, Search our FAQ, or get in touch with us.</h6>
    <img src="../../../../assets/img/support.png" alt="support">
    <h6 class="mb-0">Send us your query</h6>
    <a class="orange-btn" href="mailto:git@peacehaven.co"><i class="fa fa-envelope" style="padding-right: 8px;"></i>Email
      Us</a>
  </div>
</div>